.card-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    >* {
        width: 100%;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 16em;
    height: 16em;
    padding: 10px;
    border-radius: 30px;
    transition: all ease-in-out 0.5s;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.308),
        -1px -1px 1px 1px rgba(124, 124, 124, 0.575);

    * {
        width: 100%;
    }

    p {
        display: grid;
        place-items: center;
        
        grid-template-columns: 25px auto;
        height: 25px;
        object {
            width: 25px;
            color: #01A7C6;
        }
    }

    .row-container {
        display: grid;
        place-items: center;

        opacity: 0.75;
        p {
            font-size: 11px;
            letter-spacing: 0.75px;
            font-weight: 600;
            text-transform: uppercase;
        }

        h5 {
            font-weight: 630;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        z-index: 0;
        opacity: 1;
    }

    .is-available {
        position: absolute;
        right: 10px;
        max-width: 100px;
        max-height: 100px;
        top: 10px;
        opacity: 1;
        color: #ffffff !important;
        z-index: 2;
        text-transform: uppercase;
        .available {
            background-color: green;
        }

        .unavailable {
            background-color: rgba(56, 56, 56, 0.466) ;
            
        }
        .available, .unavailable{
            padding: 5px;
            border-radius: 30px;
        }

    }

    

    .head, .tail{
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 10px;
        background-color: white;
        width: 100%;
        padding: 25%;
        height: 100%;
        border-radius: 30px;
    }


    >* {
        transition: all ease 0.5s;
    }

    &:hover {
        transform: scale(1.05);

        >* {
            transition-delay: 0.3s;
            color: #000;
        }

        .head{
            animation: show-transition ease-in-out 5s infinite;
            z-index: 3;
            &:hover {

                .tail{
                    animation-delay: 5s;
                    animation: show-transition ease-in-out 5s infinite;
                }
            }
        }

        background-color: #ffffff5b;

        

        img {
            opacity: 0.2;
        }
    }
}