.card-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    >* {
        width: 100%;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 18em;
    height: 18em;
    background-color: white;
    border-radius: 30px;
    transition: all ease-in-out 0.5s;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.308),
        -1px -1px 1px 1px rgba(124, 124, 124, 0.575);

    * {
        width: 100%;
    }

    object{
        width: 25px;
        height: 25px;
        transform: scale(0);
    }

    p {
        display: grid;
        place-items: center;
        white-space: nowrap;
        grid-template-columns: 1fr 1fr;
        height: 25px;
    }

    .row-container {
        text-align: center;
        align-self: center;
        display: grid;
        place-items: center;
        width: 80%;
        opacity: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25px !important;

        /* p {

            font-size: 11px;
            letter-spacing: 0.75px;
            font-weight: 600;
            text-transform: uppercase;
            height: 25px;
        } */

        span {
            
            white-space: nowrap;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 25px;
            font-weight: 630;
            height: 25px;
        }

    }


    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        z-index: 0;
        opacity: 1;
    }

    .is-available {
        position: absolute;
        right: 10px;
        max-width: 100px;
        max-height: 100px;
        top: 10px;
        opacity: 1;
        color: #ffffff !important;
        z-index: 2;
        text-transform: uppercase;

        .available {
            background-color: rgba(0, 128, 0, 0.534);
        }

        .unavailable {
            background-color: rgba(253, 0, 0, 0.61);

        }

        .available,
        .unavailable {
            padding: 5px;
            border-radius: 30px;
        }

    }



    .head,
    .tail {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 10px;
        background-color: white;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;

    }


    * {
        transition: all ease 0.25s;
        
    }
    .head-animation {
        animation-play-state: paused;
    }
    
    &:hover {
        .head-animation {
            animation: show-transition 5s ease-in-out infinite;
        }
        transform: scale(1.05);
        
        object {
            transition-delay: 0.35s;
            transform: scale(1);
        }

        >* {
            
            color: #000;
        }



        img {
            opacity: 0.2;

        }
    }
}